.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 25px 25px;
  align-items: center;
}

.screen-header_title {
  font-size: 28px;
  font-weight: 600;
}

.screen-header_icons span {
  margin-left: 25px;
}

.screen-header_icons .fa-search:hover {
  animation: animate 1s linear infinite;
}

.screen-header_icons .fa-comment-dots:hover {
  animation: animate 1s linear infinite;
}

.screen-header_icons .fa-music:hover {
  animation: animate2 1.5s linear infinite;
}

.screen-header_icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: none;
  }
}

@keyframes animate2 {
  0% {
    transform: none;
  }
  25% {
    transform: translate(-10px, -10px);
  }
  50% {
    transform: none;
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: none;
  }
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
